<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="targetBean" class="com.yahoo.sharmaak.aopexamples.app.SampleInterfaceImpl"/>

    <bean id="theTracingBeforeAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="com.yahoo.sharmaak.aopexamples.pointcut.validators.BeforeAdviceExample"/>
        </property>
        <property name="pattern">
            <value>.*</value>
        </property>
    </bean>

    <!-- Advice classes -->
    <bean id="com.yahoo.sharmaak.aopexamples.pointcut.validators.BeforeAdviceExample"
          class="com.yahoo.sharmaak.aopexamples.pointcut.validators.BeforeAdviceExample"/>

    <!-- Proxy Bean configuration -->
    <bean id="proxyBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.yahoo.sharmaak.aopexamples.app.SampleInterface</value>
        </property>
        <property name="target">
            <ref local="targetBean"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>theTracingBeforeAdvisor</value>
            </list>
        </property>
    </bean>
</beans>