<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Instrument Beans -->
    <bean id="instrument.Drum" class="com.amitcodes.spring.example.instrument.Drum"/>
    <bean id="instrument.Flute" class="com.amitcodes.spring.example.instrument.Flute"/>
    <bean id="instrument.Violin" class="com.amitcodes.spring.example.instrument.Violin"/>

    <!-- The Vocalist Bean -->
    <bean id="performer.Vocalist" class="com.amitcodes.spring.example.performers.Vocalist">
        <property name="lyrics" value="If I was a rich man ... "/>
    </bean>

    <!--
    The abstract Instrumentalist bean which will be parent of all the *Player beans.
    All other player beans will mark this bean as their parent. Unless the
    player beans explicitly override the value of property 'instrument',
    they will inherit the reference defined in the parent bean (which in
    this case will be instrument='instrument.Flute' instance. Note that this
    bean has been marked abstract (by abstract='true'), thus ensuring that
    spring container will never attempt to instantiate this bean.
    -->
    <bean id="performers.abstract.Instrumentalist"
          class="com.amitcodes.spring.example.performers.Instrumentalist"
          abstract="true">
        <property name="instrument" ref="instrument.Flute" />
    </bean>
</beans>